<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxly.demo.api.core.mapper.SystemMenuMapper">

    <select id="getMenuList" resultType="com.fxly.demo.api.core.entity.SystemMenu">
        SELECT distinct m.*
        FROM system_role_menu rm
        LEFT JOIN system_menu m on m.id = rm.menu_id
        <where>
            <if test="menuQuery.currentLoginUserRoleIds != null and menuQuery.currentLoginUserRoleIds.size() > 0">
                and role_id in
                <foreach collection="menuQuery.currentLoginUserRoleIds" item="roleId" open="(" close=")" separator=",">
                    #{roleId}
                </foreach>
            </if>
            <if test="menuQuery.menuName != null and menuQuery.menuName != ''">
                and m.menu_name like CONCAT('%', #{menuQuery.menuName}, '%')
            </if>
            <if test="menuQuery.hide != null">
                and m.is_hide = #{menuQuery.hide}
            </if>
            <if test="menuQuery.status != null">
                and m.status = #{menuQuery.status}
            </if>
        </where>
        ORDER BY parent_id, sort
    </select>

</mapper>