<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxly.demo.api.core.mapper.SystemRoleMenuMapper">

    <select id="getMenuListByRoleIds" resultType="com.fxly.demo.api.core.entity.SystemMenu">
        SELECT distinct m.*
        FROM system_role_menu rm
            INNER JOIN system_menu m on m.id = rm.menu_id
        where rm.role_id in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
        order by parent_id,sort
    </select>

    <insert id="bindMenu">
        insert into system_role_menu (role_id, menu_id) values
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <select id="getPermission" resultType="java.lang.String">
        SELECT permission
        FROM system_role_menu rm
        LEFT JOIN system_menu m on m.id = rm.menu_id
        where role_id in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
        and m.permission is not null
    </select>

</mapper>
